.note {
    background-color: #523634;
    color: #A7A7A7;
    padding: 25px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.note:hover {
    outline: 3px solid #f2f2f2;
}

.note h1, .note h3 {
    color: #fff;
}

.note-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.note-data {
    cursor: pointer;
}

.note-header .note-username h3 {
    font-weight: 400;
    color: #d8d8d8;
}

.note-title h1 {
    margin: 0 !important;
}

.note-data .date {
    margin-top: 10px;
}

.note-settings .delete {
    cursor: pointer;
}

.favorite {
    margin-top: 25px;
}

.remove-from-favorite {
    color: #ffc400;
}