header {
    background-color: #523634;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}

.header-logo a {
    color: #fafafa;
    font-size: 18px;
}

.header-user a, .header-user span {
    color: #dfdede;
    transition: all .3s ease;
}

.header-user span {
    display: flex;
    align-items: center;
    gap: 1px;
}

.header-user a:hover {
    color: #909090;
}