@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Geologica;
  background-color: #DDC5A2;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* Ready components */

.form-input {
  outline: none;
  border: 0;
  padding: 25px 4px 6px 10px;
  font-size: 18px;
  border-radius: 5px;
  font-family: Geologica;
  transition: all .2s ease;
}

.form-input:focus {
  outline: 2px solid #B6452C;
}

.solid-btn {
  border: 0;
  background-color: #DDC5A2;
  border-radius: 5px;
  font-size: 18px;
  color: #523634;
  padding: 15px 25px;
  cursor: pointer;
  transition: all .3s ease-out;
} 

.solid-btn:hover {
  background-color: #523634;
  color: #DDC5A2;
}

.regular-btn {
  border: 2px solid #B6452C;
  background-color: transparent;
  border-radius: 5px;
  font-size: 18px;
  color: #B6452C;
  padding: 15px 25px;
  cursor: pointer;
  transition: all .3s ease-out;
}

.regular-btn:hover {
  background-color: #B6452C;
  color: #DDC5A2;
}

.regular-link {
  border: 0;
  background-color: transparent;
  color: #B6452C;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.regular-link:hover {
  color: #301B28;
}

.attach-image-btn {
  background-color: silver;
  border: 2px dashed rgb(255, 255, 255);
  padding: 15px 25px;
  font-size: 18px;
}

/* #301B28, #523634, #B6452C, #DDC5A2 */